# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env
.venv/
venv/

# OS Files
Thumbs.db

# Temporary Files
*.tmp

# Training Checkpoints
distilbert_results/
deberta_v3_results/

# Archives & Large Zips
*.zip

# Raw Dataset
data/raw/

# We are using Git LFS for the model